div#IMG-container{
    
    height: 70vh;
    background-image: url(https://primelandindia.com/pedda-amberpet/images/slidernew1.jpg);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    
    
}

